body {}

#banner {
    width: 100%;
}

.principal {
    background: #fffdf7;
    padding: 30px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 35px;
}

.titulo-principal {
    padding-left: 20px;
    height: auto;
    text-align: center;
}

.titulo-centralizado {
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: #cba72c;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #fffdf7;
    padding: 20px;
}

.beneficios ul {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
}

/* Pequenos ajustes */
header {
    background: #cba72c;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav li {
    display: inline;
    margin-left: 15px;
}

nav a {
    text-transform: uppercase;
    color: #304543;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
